<footer class="site-footer">
  <div class="footer-top">
    <a class="wordmark" href="/"
      ><img src="/img/v-logo.png" alt="V" width="32" height="32" /><span
        >Small language.<br /><span class="muted"
          >Limitless things to build.</span
        ></span
      ></a
    >
    <div class="footer-links">
      <div>
        <h2>Learn</h2>
        <a href="https://docs.vlang.io">%documentation</a
        ><a href="https://github.com/vlang/V/tree/master/examples">%examples</a
        ><a href="https://github.com/vlang/v/blob/master/tutorials"
          >%tutorials</a
        ><a href="https://modules.vlang.io">Standard library</a
        ><a href="https://play.vlang.io">%playground</a>
      </div>
      <div>
        <h2>Explore</h2>
        <a href="https://vpm.vlang.io/">V package manager</a
        ><a href="/#builtinv">%built_in_v</a
        ><a href="https://fast.vlang.io/">%is_v_still_fast</a
        ><a href="/compare">Compare languages</a
        ><a href="https://github.com/vlang/v/wiki/FAQ">FAQ</a>
      </div>
      <div>
        <h2>Follow along</h2>
        <a href="https://vlang.veery.blog/blog">%blog</a
        ><a href="https://github.com/vlang/v/blob/master/CHANGELOG.md"
          >Changelog</a
        ><a href="https://github.com/vlang/v/blob/master/ROADMAP.md">Roadmap</a
        ><a href="https://github.com/vlang/rfcs">RFCs</a
        ><a href="https://github.com/vlang/v">github.com/vlang/v</a>
      </div>
      <div>
        <h2>Support V</h2>
        <a href="https://github.com/sponsors/medvednikov">GitHub Sponsors</a
        ><a href="https://patreon.com/vlang">Patreon</a
        ><a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=HRGVJ2LA2LKJ8&amp;item_name=Support+V+development&amp;currency_code=USD&amp;source=url&amp;lc=US"
          >PayPal</a
        ><a href="https://my-store-7564322.creator-spring.com/">Merch</a
        ><a href="mailto:${contact_email}">Get in touch</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span
      >Open source, with love.
      <a href="https://github.com/vlang/v/blob/master/LICENSE">MIT License</a
      >.</span
    >
    <a href="#main-content">Back to top ↑</a>
  </div>
</footer>
<p class="sr-only" id="site-status" role="status" aria-live="polite"></p>

</body>
</html>
