<footer class="site-footer">
  <div class="footer-top">
    <a class="wordmark" href="/"
      ><img src="/img/v-logo.png" alt="%home_shared_adj" width="32" height="32" /><span
        >%home_shared_aea<br /><span class="muted"
          >%home_shared_aeb</span
        ></span
      ></a
    >
    <div class="footer-links">
      <div>
        <h2>%home_shared_aec</h2>
        <a href="https://docs.vlang.io">%documentation</a
        ><a href="https://github.com/vlang/V/tree/master/examples">%examples</a
        ><a href="https://github.com/vlang/v/blob/master/tutorials"
          >%tutorials</a
        ><a href="https://modules.vlang.io">%home_shared_aed</a
        ><a href="https://play.vlang.io">%playground</a>
      </div>
      <div>
        <h2>%home_shared_aee</h2>
        <a href="https://vpm.vlang.io/">%home_shared_aef</a
        ><a href="/#builtinv">%built_in_v</a
        ><a href="https://fast.vlang.io/">%is_v_still_fast</a
        ><a href="/compare">%home_shared_aeg</a
        ><a href="https://github.com/vlang/v/wiki/FAQ">%home_shared_aeh</a>
      </div>
      <div>
        <h2>%home_shared_aei</h2>
        <a href="https://vlang.veery.blog/blog">%blog</a
        ><a href="https://github.com/vlang/v/blob/master/CHANGELOG.md"
          >%home_shared_aej</a
        ><a href="https://github.com/vlang/v/blob/master/ROADMAP.md">%home_shared_afa</a
        ><a href="https://github.com/vlang/rfcs">%home_shared_afb</a
        ><a href="https://github.com/vlang/v">%home_shared_afc</a>
      </div>
      <div>
        <h2>%home_shared_afd</h2>
        <a href="https://github.com/sponsors/medvednikov">%home_shared_afe</a
        ><a href="https://patreon.com/vlang">%home_shared_aff</a
        ><a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=HRGVJ2LA2LKJ8&amp;item_name=Support+V+development&amp;currency_code=USD&amp;source=url&amp;lc=US"
          >%home_shared_afg</a
        ><a href="https://my-store-7564322.creator-spring.com/">%home_shared_afh</a
        ><a href="mailto:${contact_email}">%home_shared_afi</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span
      >%home_shared_afj
      <a href="https://github.com/vlang/v/blob/master/LICENSE">%home_shared_aga</a
      >.</span
    >
    <a href="#main-content">%home_shared_agb</a>
  </div>
</footer>
<p class="sr-only" id="site-status" role="status" aria-live="polite"></p>

</body>
</html>
